.check-out-component-container {
  width: 65%;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
    color: #F05A25;
  }
  .remove-button{
    cursor: pointer;
  }
}